POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
ORDER_APP_PORT=3000
ORDER_DB=order_db
PAYMENT_APP_PORT=3000
PAYMENT_DB=payment_db
AUTH_DB=auth_db
AUTH_APP_PORT=3000

JWT_SECRET=d0dbe4e5a8b3d8553ea7f8ff88b9b5b792069d253093406887d1175d1c63affe
JWT_EXPIRATION=1d